// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
@use "../abstracts" as a;
@use "../base" as b;


.footer {
    background-color: a.color('primary', 'base');

    &__wrapper {
        padding: 2.4rem 1.6rem 0.8rem;
    }

    &__heading,
    &__name,
    &__text,
    &__address,
    &__copyright {
        color: a.color('primary', 'alternate');
        margin-bottom: 1.6rem;
        font-style: normal;

    }

    &__name {
        font-weight: map-get(a.$font-weights, 'semi-bold');
    }

    &__icon-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 3.2rem;
        margin-bottom: 3.2rem;
    }

    &__article {
        margin-bottom: 3.2rem;
    }

    &__logo {
        display: block;
        margin-top: 5.6rem;
        padding: 1.6rem 0;
    }

    @include a.respond-to('medium') {
        padding: 1.6rem;


        &__wrapper {
            position: relative;
        }

        &__header {
            display: flex;
            align-items: center;
            gap: 2.4rem;
            margin-bottom: 4rem;

        }

        &__heading {
            margin: 0;
        }

        &__content {
            display: flex;
            gap: 4rem;
        }

        &__article {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 33%;
        }

        &__icon-container {
            margin: 0;
        }

        &__logo {
            margin-top: 0;
            position: absolute;
            top: 2rem;
            right: 1.6rem;
        }

        &__copyright {
            margin-bottom: 0;
        }
    }
}
