// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use '../abstracts';
@use '../base';

.header {
    background-color: abstracts.color('primary', 'base');
    min-height: 7.7rem;

    @include abstracts.respond-to('medium') {
        display: flex;
        justify-content: flex-start;
    }

    @include abstracts.respond-to('large') {
        padding: 0 3.2rem;
    }
}

.nav {
    @include abstracts.flex-center(column);
    width: 100%;
    padding-top: 1.6rem;

    &__list {
        width: 100%;
        padding-top: 0.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include abstracts.respond-to('medium') {
            max-width: map-get(abstracts.$container-width, 'medium');
            padding-top: 0;
            display: flex;
            justify-content: flex-start;
            gap: 3.2rem;
        }
    }

    &__item {
        @include abstracts.flex-center();
        width: 100%;
        margin: 0 auto;
        padding: 0.8rem 4.8rem;
        border-bottom: 2px solid transparent;
        transition: 0.1s;

        &:hover,
        &--active {
            border-bottom: 2px solid abstracts.color('primary', 'alternate');
        }

        @include abstracts.respond-to('medium') {
            width: fit-content;
            margin: 0;
            padding: 2.6rem 0;
            align-items: flex-start;
        }
    }

    &__link {
        text-decoration: none;
        letter-spacing: 0.025rem;
        color: abstracts.color('primary', 'neutral');

        &--active {
            color: abstracts.color('primary', 'alternate');
        }
    }

    @include abstracts.respond-to('medium') {
        flex-direction: row;
        max-width: map-get(abstracts.$container-width, 'medium');
        min-height: 100%;
        margin: auto;
        padding: 0;
        gap: 5.6rem;
    }

    @include abstracts.respond-to('large') {
        max-width: map-get(abstracts.$container-width, 'large');
        margin: 0 auto;
    }
}
