// -----------------------------------------------------------------------------
// This file contains all styles related to the avatar component.
// -----------------------------------------------------------------------------
@use '../abstracts';
@use '../base';

.avatar {
    width: 3.6rem;
    height: 3.6rem;
    object-fit: cover;
    border-radius: 50%;

    @include abstracts.respond-to('medium') {
        width: 4.8rem;
        height: 4.8rem;
    }
}

.cta {

    &__profile-avatar {
        @extend .avatar;

        margin-top: 2.4rem;
    }

    &__comment-avatar {
        @extend .avatar;

        min-width: 3.6rem;
        background-color: abstracts.color('primary', 'neutral');

        @include abstracts.respond-to('medium') {
            min-width: 4.8rem;
        }
    }
}
