// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
@use '../abstracts';
@use '../base';

.btn {
    display: inline-block;
    width: 100%;
    height: 4rem;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 1.6rem;
    color: abstracts.color('primary', 'alternate');
    border: none;
    background-color: abstracts.color('primary', 'base');
    transition: all 0.33s;

    &:hover {
        background-color: abstracts.color('secondary', 'base');
    }

    @include abstracts.respond-to('medium') {
        width: fit-content;
        min-width: 15rem;
        padding: 0 3.2rem;
    }
}

.cta__btn,
.shows__btn {
    @extend .btn;

    @include abstracts.respond-to('medium') {
        margin-left: auto;
    }
}
