// -----------------------------------------------------------------------------
// This file contains all styles related to the comment component.
// -----------------------------------------------------------------------------
@use "../abstracts";
@use "../base";
@use "./avatar";

@mixin comment() {
    @include abstracts.flex-center();
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.6rem;
    padding: 1.6rem 0;
    border-top: 1px solid abstracts.color("primary", "neutral");

    &:last-child {
        border-bottom: 1px solid abstracts.color("primary", "neutral");
    }

    // below rule sets are not modifiers in BEM,
    // they only take advantage of nesting in SASS.
    &-description {
        @include abstracts.grid(repeat(2, 1fr), 1fr);
        width: 100%;
        justify-items: start;
        align-items: start;
    }

    &-time {
        color: abstracts.color("primary", "neutral");
        justify-self: end;
    }

    &-text {
        grid-column: 1 / -1;
        padding-top: 0.8rem;
        word-break: break-word;
    }

    &-interactivity {
        display: flex;
        justify-self: flex-end;
        gap: 1.2rem;
        padding: 0.4rem;
    }

    &-like-count {
        margin-top: 0.8rem;
    }

    &-like,
    &-delete {
        color: abstracts.color("primary", "base");
        cursor: pointer;
        border: none;
        background: none;
        width: 2.4rem;
        height: 2.4rem;
        transition: all 0.3s;
    }

    &-like:hover {
        color: abstracts.color("secondary", "base");
    }

    &-delete:hover {
        color: abstracts.color("conditional", "error");
    }
}
