// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
@use '../abstracts';
@use '../base';
@use '../layout';
@use '../components';

.cover {
    background-image: linear-gradient(
            rgba(50, 50, 50, 0.5),
            rgba(50, 50, 50, 0.5)
        ),
        abstracts.image('hero-bio.jpg');
    background-size: cover;
    background-position: center;

    &__heading {
        color: abstracts.color('primary', 'alternate');
    }

    &__wrapper {
        max-width: map-get(abstracts.$container-width, 'small');
        margin: 0 auto;
        height: 20rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        @include abstracts.respond-to('medium') {
            height: 40rem;
            padding: 1.6rem 0;
            max-width: map-get(abstracts.$container-width, 'medium');
        }

        @include abstracts.respond-to('large') {
            max-width: map-get(abstracts.$container-width, 'large');
            height: 64rem;
            padding: 3.2rem 0;
        }
    }
}

.about {
    &__wrapper {
        @include abstracts.section-wrapper();
    }

    &__heading {
        @include abstracts.section-heading();
    }

    &__img-container {
        margin-bottom: 1.6rem;

        @include abstracts.respond-to('medium') {
            width: 85%;
            margin: 0 auto 3.2rem;
        }
    }

    &__img {
        width: 100%;
        aspect-ratio: 16 / 9;
    }

    &__quote {
        font-weight: map-get(abstracts.$font-weights, 'semi-bold');

        @include abstracts.respond-to('medium') {
            width: 85%;
            padding-bottom: 1.6rem;
            margin: 0 auto;
            font-size: 2.4rem;
            line-height: 3.2rem;
        }

        @include abstracts.respond-to('large') {
            max-width: 70%;
            margin-left: 7.8rem;
        }
    }

    &__author {
        margin-bottom: 1.6rem;
        font-weight: map-get(abstracts.$font-weights, 'semi-bold');

        @include abstracts.respond-to('medium') {
            width: 85%;
            margin: 0 auto 1.6rem;
            font-size: 1.8rem;
        }
    }

    &__subheading {
        @include abstracts.respond-to('medium') {
            width: 85%;
            margin: 4rem auto 1.6rem;
        }
    }

    &__text-container {
        @include abstracts.respond-to('medium') {
            width: 85%;
            margin: 0 auto;
            display: flex;
            gap: 3.2rem;
        }
    }

    &__text {
        margin-bottom: 1.6rem;
    }
}

.gallery {
    background-color: abstracts.color('secondary', 'alternate');

    &__wrapper {
        @include abstracts.section-wrapper();
    }

    &__heading {
        @include abstracts.section-heading();
    }

    &__img-container {
        @include abstracts.flex-center(column);
        gap: 1.6rem;

        @include abstracts.respond-to('medium') {
            @include abstracts.grid(repeat(3, 1fr), repeat(3, 1fr));
        }

        @include abstracts.respond-to('large') {
            margin: 0 auto;
            padding: 3.2rem 0;
        }
    }

    &__img {
        transition: all 0.3s;
        filter: grayscale(100%);

        &:hover {
            filter: none;
        }
    }
}

.cta {
    &__wrapper {
        @include abstracts.section-wrapper();
    }

    &__heading {
        @include abstracts.section-heading();
    }

    &__form-container {
        @include abstracts.flex-center();
        align-items: flex-start;
        gap: 1.6rem;
        margin: 1.6rem auto;

        @include abstracts.respond-to('medium') {
            margin: 0 auto;
            padding: 1.6rem 0;
            max-width: 58rem;
        }

        @include abstracts.respond-to('large') {
            max-width: 50rem;
        }
    }

    &__profile-avatar {
        @include components.form-avatar();
    }

    &__form {
        @include components.base-form();
    }

    &__btn {
        @include components.button-primary();
    }

    &__comment-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.6rem;

        @include abstracts.respond-to('medium') {
            margin: 0 auto;
            padding: 1.6rem 0;
            max-width: 58rem;
        }

        @include abstracts.respond-to('large') {
            max-width: 50rem;
        }
    }

    &__comment {
        @include components.comment();
    }
}
