// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
@use '../abstracts' as a;
@use '../base';
@use '../layout';
@use '../components';

.cover {
    background-image: linear-gradient(
            rgba(50, 50, 50, 0.5),
            rgba(50, 50, 50, 0.5)
        ),
        a.image('hero-bio.jpg');
    background-size: cover;
    background-position: center;

    &__heading {
        color: a.color('primary', 'alternate');
    }

    &__wrapper {
        max-width: map-get(a.$container-width, 'small');
        margin: 0 auto;
        height: 20rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        @include a.respond-to('medium') {
            height: 40rem;
            padding: 1.6rem;
            max-width: map-get(a.$container-width, 'medium');
        }

        @include a.respond-to('large') {
            max-width: map-get(a.$container-width, 'large');
            height: 64rem;
            padding: 3.2rem;
        }
    }
}

.about {
    &__wrapper {
        padding: 0 1.6rem;

        @include a.respond-to('medium') {
            padding: 3.2rem;
        }

        @include a.respond-to('large') {
            max-width: map-get(a.$container-width, 'large');
            margin: 0 auto;
        }
    }

    &__heading {
        padding: 2.4rem 0 1.6rem;

        @include a.respond-to('medium') {
            font-size: 3.6rem;
            line-height: 3.2rem;
            padding-bottom: 3.2rem;
        }
    }

    &__img-container {
        margin-bottom: 1.6rem;

        @include a.respond-to('medium') {
            width: 85%;
            margin: 0 auto 3.2rem;
        }
    }

    &__img {
        width: 100%;
        aspect-ratio: 16 / 9;
    }

    &__quote {
        font-weight: map-get(a.$font-weights, 'semi-bold');

        @include a.respond-to('medium') {
            width: 85%;
            margin: 0 auto 1.6rem;
            font-size: 2.4rem;
            line-height: 3.2rem;
        }

        @include a.respond-to('large') {
            max-width: 60%;
            margin: 0 auto 1.6rem 9.6rem;
        }
    }

    &__author {
        margin-bottom: 1.6rem;
        font-weight: map-get(a.$font-weights, 'semi-bold');

        @include a.respond-to('medium') {
            width: 85%;
            margin: 0 auto 1.6rem;
            font-size: 1.8rem;
        }
    }

    &__subheading {
        @include a.respond-to('medium') {
            width: 85%;
            margin: 4rem auto 1.6rem;
        }
    }

    &__text-container {
        @include a.respond-to('medium') {
            width: 85%;
            margin: 0 auto;
            display: flex;
            gap: 3.2rem;
        }

        @include a.respond-to('large') {
            gap: 6.4rem;
        }
    }

    &__text {
        margin-bottom: 1.6rem;
    }
}

.gallery {
    background-color: a.color('secondary', 'alternate');

    &__wrapper {
        padding: 0 1.6rem;

        @include a.respond-to('medium') {
            max-width: map-get(a.$container-width, 'medium');
            margin: 0 auto;
            padding: 1.6rem;
        }

        @include a.respond-to('large') {
            max-width: map-get(a.$container-width, 'large');
            margin: 0 auto;
        }
    }

    &__heading {
        padding: 1.6rem 0;

        @include a.respond-to('large') {
            margin-top: 2.4rem;
        }
    }

    &__img-container {
        @include a.flex-center(column);
        gap: 1.6rem;
        margin-bottom: 1.6rem;

        // turned off as its not a requirement
        //&:hover img {
        //    transition: all 0.3s;
        //    filter: grayscale(100%);
        //}
        //
        //&:hover img:hover {
        //    filter: none;
        //}

        @include a.respond-to('medium') {
            @include a.grid(repeat(3, 1fr), repeat(3, 1fr));
        }

        @include a.respond-to('large') {
            margin: 0 auto;
            padding: 3.2rem 0;
        }
    }

    &__img {
        transition: all 0.3s;
        filter: grayscale(100%);

        &:hover {
            filter: none;
        }
    }
}
